ipykernel
findspark
pandas
pyarrow
python-dotenv
sqlalchemy
psycopg2-binary
geopandas
matplotlib
shapely
geodatasets
great_expectations
protobuf
contextily
folium
kaggle==1.6.17
kagglesdk==0.1.22
kagglehub==1.0.1
papermill